.product-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 400px;
}

.product-image {
  flex: 0 0 auto;
  margin-right: 20px;
}

.product-image img {
  width: 700px;
}

.product-details {
  flex: 1 1 auto;
}

.product-name {
  font-size: 24px;
  font-weight: bold;
}

.product-description {
  font-size: 16px;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
}
