<form [formGroup]="registerForm" (ngSubmit)="registro()">
  <label>Nombre de usuario:</label>
  <input type="text" name="nombre" formControlName="nombre">

  <label>Correo electrónico:</label>
  <input type="email" name="email" formControlName="email">

  <label>Contraseña:</label>
  <input type="password" name="password" formControlName="password">

  <button type="submit" [disabled]="!registerForm.valid"
  [ngClass]="{'btn-primary': registerForm.valid, 'btn-secondary': !registerForm.valid}">Registrarse</button>
</form>
