.row {
  margin-left: 20px;
  margin-top: 20px;
}

.col-md-4 {
  width: 33.33%;
  padding: 10px;
  box-sizing: border-box;
}

.m-t-10 {
  margin-top: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
