

<div class="row" style="margin-left:200px; margin-top:20px;">
<ng-container *ngFor="let producto of productos | paginate: { itemsPerPage: 5, currentPage: page }">
    <div class="col-md-4" >
      <div class="m-t-10">
        <app-producto [nombre]="producto.nombre" [precio]="producto.precio" [imagen]="producto.imagen"></app-producto>
      </div>
    </div>
  </ng-container>
</div>

<div style="display:flex">
  <div class="pagination" style="margin:0 auto; margin-top: 50px;">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>
