<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6">
      <h2 >{{"Introduce_email" | translate}}</h2>
      <form [formGroup]="restablecerForm" (ngSubmit)="recuperarPassword()">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" formControlName="email" class="form-control" placeholder="Ingrese su email">
        </div>
        <button type="submit" [disabled]="!restablecerForm.valid"
        [ngClass]="{'btn-primary': restablecerForm.valid, 'btn-secondary': !restablecerForm.valid}">Ingresar</button>
      </form>
    </div>
  </div>
</div>
