<nav class="navbar navbar-expand-lg navbar-light  py-3 d-block" >
  <div class="container"><a class="navbar-brand d-inline-flex" href="#"><span class="text-1000 fs-0 fw-bold ms-2"></span></a><button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item px-2"><a class="nav-link fw-medium active" aria-current="page" [routerLink]="['/genero','Mujer']">{{"ENLACE_MUJER" | translate}}</a></li>
        <li class="nav-item px-2"><a class="nav-link fw-medium" [routerLink]="['/genero','Hombre']">{{"ENLACE_HOMBRE" | translate}}</a></li>
        <li class="nav-item px-2"><a class="nav-link fw-medium" href="#collection">{{"Coleccion" | translate}}</a></li>
        <li class="nav-item px-2"><a class="nav-link fw-medium" href="#outlet">Outlet</a></li>
      </ul>
      <div class="btn-group">
        <div class="position-relative">
          <button mat-icon-button class="btn btn-default" (click)="toggleUserContent()">
            <mat-icon>person</mat-icon>
          </button>
          <div *ngIf="showUserContent" class="user-content position-absolute">
            <ul  *ngIf="estaAutenticado(); else noAccess">
              <li><a routerLink="/dashboard">Panel de usuario</a></li>
              <li><a (click)="cerrarSesion()">Cerrar sesión</a></li>
            </ul>
            <ng-template #noAccess>
              <ul>
                <li style="margin-top: 10px"><a class="dropdown-item" routerLink="/registro">{{"Registro" | translate}}</a></li>
                <li style="margin-top: 10px"><a class="dropdown-item" routerLink="/login">{{"Iniciar_sesion" | translate}}</a></li>
              </ul>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="btn-group">
        <div class="position-relative">
          <button mat-icon-button class="btn btn-default" (click)="toggleCartContent()">
            <mat-icon>shopping_cart</mat-icon>
            <mat-badge [matBadge]="numItemsInCart" matBadgeColor="warn"></mat-badge>
          </button>
          <div *ngIf="showCartContent" class="carrito position-absolute">
            <ul *ngIf="numItemsInCart > 0; else noElementsCart">
              <li *ngFor="let item in numItemsInCart"><a href="#">{{item}}</a></li>
            </ul>
            <ng-template #noElementsCart>
              <p style="text-align:center;">No hay añadido nada al carrito</p>
            </ng-template>
          </div>
        </div>
      </div>

    </div>
  </div>
</nav>



